.navbar {
    position: relative;
    top: 20px;
    width: 100%;
    z-index: 999;
    background: none;
    border: none;
    border-radius: 0;
}
ul.navbar-nav {
    margin-left: auto;
   /* margin-right: auto; */
    font-weight: bold;

}
.navbar-brand h3 {
    color: white;
    font-weight: 100;
}
.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#header {
    z-index: 2;
}
#explore {
   
}
#showcase {
    background: url("https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60")  bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
}
#footerNav {
    background: #1f1f1f;
    font-weight: 100;
}
